body{
  background-color: rgb(150, 5, 150);
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
  
.main{
  
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;

}
  
.submain{
background-color: white;
width: 450px;
height: 400px;
color: purple;
border-radius: 15px;
}

.rpass{
  margin-top: 50px;
 margin-left: 45px;
 font-size: 20px;
 font-weight: bold;
 
}

#email{
  display: block;
  width: 80%;
  padding: 4px 1px 4px 1px;
  margin-top: 9px;
  border: 2px solid purple;
  border-radius: 4px;
  margin-bottom: 24px;
  outline: none;
}

#email:hover{
  
}

.general{
  margin-top: 100px;
  margin-left: 45px;
}

.div-button{
  margin-left: 205px; 
} 

.bttn{
  color: white;
  background-color: purple;
  border: none;
  padding: 7px 20px 7px 20px;
  border-radius: 5px;
}

.bttn a{
  color: white;
  text-decoration: none;
}

.remeber{
 margin: 20px;
  text-align: center;
}

.remeber a{
  font-size: 18px;
  text-decoration: none;
  color: purple;
}

.remeber span{
 color: black;
  
}


